@font-face {
	font-family: msjh;
	src: url("../fonts/msjh.eot"),
		 url("../fonts/msjh.woff") format("woff"), 
		 url("../fonts/msjh.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: msjh, sans-serif!important;
}

/* ---------- header ---------- */

nav {
	height: 10vh;
	width: 100vw;
	position: fixed;
	background-color: midnightblue;
	color: white;
}

.header > div {
	height: 100%;
	display: grid;
	text-align: center;
	align-items: center;
	font-size: larger;
}

.headerBtn:hover {
	background-color: white;
	color: midnightblue;
	cursor: pointer;
}

.logo {
	height: 6vh;
	width: calc(1600 * 6vh / 550);
}

/* ---------- language ---------- */

#language-list {
	z-index: 5;
	position: fixed;
	top: 10vh;
	display: none;
	grid-gap: 1px;
	font-size: medium;
	background-color: silver;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

#language-list a {
	z-index: 10;
	height: 5vh;
	display: grid;
	align-items: center;
	text-align: center;
	background-color: aliceblue;
	text-decoration: none;
	color: inherit;
}

#language-list a:hover {
	background-color: silver;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

/* ---------- contents ---------- */

.body {
	width: 100vw;
	height: 90vh;
	position: fixed;
	top: 10vh;
	overflow-y: scroll;
}